.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway";
  font-size: 18px;
  height: 50px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #fff;
  cursor: pointer;
  padding: 9px 15px;
  text-align: center;
  background-color: #44d89a;
  transition: background-color 300ms ease-in-out, transform 300ms ease,
    -webkit-transform 300ms ease;
  border: none;

  &:hover {
    background-color: #3bcc90;
    transform: translate(0px, -2px);
  }
}
