.special-overflow {
  grid-column-start: span 2;
  grid-column-end: span 2;
  grid-row-start: span 1;
  grid-row-end: span 1;
  overflow: hidden;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 850px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
  }
}
